@import graph.GraphNode
@(node: Option[GraphNode], crumb: Option[Seq[(String, Seq[Long])]], osmUrls: Option[Seq[(String, String)]], mapBoxApiKey: String, areaBoundingBox: Option[(Double, Double, Double, Double)], tags: Map[String, String])
<link rel="stylesheet" href="https://unpkg.com/leaflet@@1.3.1/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>
<script   src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@@0.67.0/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@@0.67.0/dist/L.Control.Locate.min.js"></script>

<h2><a href="/">OpenStreetMap Jigsaw</a></h2>
<a href="https://github.com/tonytw1/osm-jigsaw" target="_blank">Github</a>
<hr/>

<div id="mapid"></div>
<style>
    #mapid { height: 400px; }
</style>

<script>
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);

    L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/emerald-v8/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: '@mapBoxApiKey'
    }).addTo(mymap);

    L.control.locate().addTo(mymap);
</script>

<p><div id="locate-error"></div></p>

<div id="reverse"></div>

<div id="node">
@node.map { graphNode =>
    <h4>@graphNode.entities.map(_.name).mkString(" + ")</h4>
    <h6>OSM ids</h6>
    @osmUrls.map { ous =>
        @ous.map { ou =>
            <a href="@ou._2" target="_blank">@ou._1</a>
        }
    }
    <h6>Tags</h6>
    @tagsTable(tags)
}
</div>

<p>Map data © OpenStreetMap contributors</p>
<hr/>

<script src="@routes.Assets.versioned("scripts/app.js")"></script>

@areaBoundingBox.map { boundingBox =>
    <script>
        mymap.fitBounds([
                [@boundingBox._1, @boundingBox._2],
                [@boundingBox._3, @boundingBox._4]
            ]
        );
    </script>
}

</body>
</html>